<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand nav-item" routerLink="/" routerLinkActive="active">Dating App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <ng-container *ngIf="accountService.currentUser$ | async">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/members" routerLinkActive="active"><i
                                class="fa-solid fa-heart"></i> Matches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/lists" routerLinkActive="active">
                            <i class="fa-solid fa-list"></i> Lists
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/messages" routerLinkActive="active">
                            <i class="fa-solid fa-message"></i> Messages
                        </a>
                    </li>
                </ng-container>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/errors" routerLinkActive="active">
                        Errors
                    </a>
                </li>
            </ul>

            <div class="dropdown d-flex text-white justify-content-end" style="margin-right: 20px;"
                *ngIf="(accountService.currentUser$ | async) as user" dropdown>
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-haspopup="true" aria-expanded="false" dropdownToggle>
                    <i class="fa-solid fa-user user-icon"></i>
                    <!-- <img class="img-responsive rounded-circle" style="height: 60px; width: 58px" alt="..."
                        src="https://i.pinimg.com/564x/46/43/6b/46436b767399bcbec02bb6a6f3ee088a.jpg"> -->
                    Welcome, {{user.username |
                    titlecase}}!
                </a>
                <div class="dropdown-menu mt-4" *dropdownMenu>
                    <a class="dropdown-item" href="#">Edit Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
            </div>
        </div>

        <form *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" class="d-flex justify-content-end"
            (ngSubmit)="login()" autocomplete="off">
            <input name="username" [(ngModel)]="model.username" class="form-control me-sm-2" type="text"
                placeholder="Username">
            <input name="password" [(ngModel)]="model.password" class="form-control me-sm-2" type="password"
                placeholder="Password">
            <button class="btn btn-success outline my-2 my-sm-0" type="submit">Login</button>
        </form>

    </div>
</nav>