<div class="container">
    <div class="row mb-3">
        <div class="col-4">
            <div class="card">
                <img src="{{member.photoUrl || './assets/default-images/user.png'}}" alt="{{member.knownAs}}"
                    class="card-img-top img-thumbnail">
                <div class="card-body">
                    <div class="mb-3" *ngIf="(presenceService.onlineUsers$ | async)?.includes(member.userName)">
                        <i class="fa-solid fa-globe text text-success is-online"></i> Online Now
                    </div>
                    <div>
                        <strong>Username: </strong>
                        <p><i class="fa-solid fa-user"></i> {{member.userName}} </p>
                    </div>
                    <div>
                        <strong>Location: </strong>
                        <p><i class="fa-solid fa-location-pin"></i> {{member.city}}, {{member.country}}</p>
                    </div>
                    <div>
                        <strong>Gender: </strong>
                        <p *ngIf="member.gender == 'male'"><i class="fa-solid fa-mars"></i> {{ member.gender |
                            titlecase}}</p>
                        <p *ngIf="member.gender == 'female'"><i class="fa-solid fa-venus"></i> {{ member.gender |
                            titlecase}}</p>
                    </div>
                    <div>
                        <strong>Age: </strong>
                        <p><i class="fa-solid fa-user-check"></i> {{member.age}}</p>
                    </div>
                    <div>
                        <strong>Last active:</strong>
                        <p><i class="fa-solid fa-globe"></i> {{member.lastActive | timeago}}</p>
                    </div>
                    <div>
                        <strong>Member since: </strong>
                        <p><i class="fa-solid fa-hourglass-start"></i> {{member.created | date:'longDate'}}</p>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="btn-group d-flex">
                        <button class="btn btn-primary"><i class="fa fa-heart"></i> Like</button>
                        <button (click)="selectTab('Messages')" class="btn btn-success"><i class="fa fa-envelope"></i>
                            Message</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-8">
            <tabset class="member-tabset" #memberTabs>
                <tab heading="About {{member.knownAs}}" (selectTab)="onTabActivated($event)">
                    <h4>Description</h4>
                    <p>{{member.introduction}}</p>
                    <h4>Looking for</h4>
                    <p>{{member.lookingFor}}</p>
                </tab>
                <tab heading="Interests" (selectTab)="onTabActivated($event)">
                    <h4>Interests</h4>
                    <p>{{member.interests}}</p>
                </tab>
                <tab heading="Photos" (selectTab)="onTabActivated($event)">
                    <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
                </tab>
                <tab heading="Messages" (selectTab)="onTabActivated($event)">
                    <app-member-messages [username]="member.userName"></app-member-messages>
                </tab>
            </tabset>
        </div>
    </div>
</div>